---
layout: page
---

<p style="margin-top: 10px"><i> More Notes to be Added </i></p>

{% assign sorted_cat = site.categories | sort %}

{% for category in sorted_cat %}
<h3 id="{{ category | first }}">{{ category | first }}</h3>
<ul class="arc-list">
    {% for post in category.last %}
        <li>
          {{ post.date | date: '%Y-%m-%d'}} 
          <a href="{{ post.url }}" title="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}">{{ post.title }}</a> 
          {% if post.update %}
              …… <i>Update：{{ post.update }}</i>
          {% endif %}
        </li>
    {% endfor %}
</ul>
{% endfor %}